{% extends 'base.html' %}
{% load static %}


 {% block content %}

  <body>
    <!-- Animated Background -->
    <div class="lm-animated-bg" style="background-image: url(img/main_bg.png);"></div>
    <!-- /Animated Background -->

    <!-- Loading animation -->
    <div class="preloader">
      <div class="preloader-animation">
        <div class="preloader-spinner">
        </div>
      </div>
    </div>
    <!-- /Loading animation -->

    <div class="page">
      <div class="page-content">

          <header id="site_header" class="header mobile-menu-hide">
            <div class="header-content">
              <div class="header-photo">
                <img src="{{home.0.profile_image.url}}" alt="Alex Smith">
              </div>
              <div class="header-titles">
                <h2>{{home.0.profile_name}}</h2>
                <h4>{{home.0.profile_bio}}</h4>
              </div>
            </div>

            <ul class="main-menu">
              <li class="active">
                <a href="{% url 'index' %}" class="nav-anim">
                  <span class="menu-icon lnr lnr-home"></span>
                  <span class="link-text">About Me</span>
                </a>
              </li>
              <li>
                <a href="{% url 'index' %}#resume" class="nav-anim">
                  <span class="menu-icon lnr lnr-graduation-hat"></span>
                  <span class="link-text">Resume</span>
                </a>
              </li>
              <li>
                <a href="{% url 'index' %}#portfolio" class="nav-anim">
                  <span class="menu-icon lnr lnr-briefcase"></span>
                  <span class="link-text">Portfolio</span>
                </a>
              </li>
              <li>
                <a href="{% url 'index' %}#blog" class="nav-anim">
                  <span class="menu-icon lnr lnr-book"></span>
                  <span class="link-text">Blog</span>
                </a>
              </li>
              <li>
                <a href="{% url 'index' %}#contact" class="nav-anim">
                  <span class="menu-icon lnr lnr-envelope"></span>
                  <span class="link-text">Contact</span>
                </a>
              </li>
            </ul>

            <div class="social-links">
              <ul>
                <li><a href="{{home.0.github}}" target="_blank"><i class="fab fa-github"></i></a></li>
                <li><a href="{{home.0.linkedin}}" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                <li><a href="{{home.0.facebook}}" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="{{home.0.twitter}}" target="_blank"><i class="fab fa-twitter"></i></a></li>
              </ul>
            </div>

            <div class="header-buttons">
              <a href="/media/{{home.0.add_cv}}" target="_blank" class="btn btn-primary">Download CV</a>
            </div>
          
          </header>

          <!-- Mobile Navigation -->
          <div class="menu-toggle">
            <span></span>
            <span></span>
            <span></span>
          </div>
          <!-- End Mobile Navigation -->

          <div class="content-area single-page-area">
            <div class="single-page-content">

              <article class="post">

                <div class="post-thumbnail">
                  <img src="{{post.thumbnail.url}}" alt="image">
                </div>

                <div class="post-content">
                  <!-- /Entry header -->
                  <header class="entry-header">
                    <!-- Entry meta -->
                    <div class="entry-meta entry-meta-top">
                      <span><a href="#" rel="category tag">UI</a></span>        
                    </div>
                    <!-- /Entry meta -->

                    <h2 class="entry-title">{{post.headline}}</h2>
                  </header>
                  <!-- /Entry header -->

                  <!-- Entry content -->
                  <div class="entry-content">
                    <div class="row">
                      <div class=" col-xs-12 col-sm-12 ">
                        <div class="col-inner">
                          <p>{{post.body|safe}}</p>
                          
                    
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- /Entry content -->
    
                  <div class="entry-meta entry-meta-bottom">
                    <div class="date-author">
                      <span class="entry-date">
                        <a href="#" rel="bookmark">
                          <i class="far fa-clock"></i> <span class="entry-date"> {{post.published}}</span>
                        </a>
                      </span>
                      <span class="author vcard">
                        <a class="url fn n" href="#" rel="author"> <i class="fas fa-user"></i> {{post.author}}</a>
                      </span>
                    </div>
      
                    <!-- Share Buttons -->
                    <div class="entry-share btn-group share-buttons">
                      <a href="#" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;" class="btn" target="_blank" title="Share on Facebook">
                        <i class="fab fa-facebook-f"></i>
                      </a>
                      
                      <a href="#" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;" class="btn" target="_blank" title="Share on Twitter">
                        <i class="fab fa-twitter"></i>
                      </a>

                      <a href="#" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;" class="btn" title="Share on LinkedIn">
                        <i class="fab fa-linkedin-in"></i>
                      </a>
                    </div>
                    <!-- /Share Buttons -->
                  </div>

                  <div class="post-tags">
                    <div class="tags">
                      <a href="#" rel="tag">animate</a>
                      <a href="#" rel="tag">bar</a>
                      <a href="#" rel="tag">design</a>
                      <a href="#" rel="tag">progress</a>
                      <a href="#" rel="tag">ui</a>
                    </div>
                  </div>
                </div>
              </article>

            </div>
          </div>

      </div>
    </div>
    
{% endblock  %}